html, body {
    height: 100%;
}

body {
    overflow-y: scroll;
}

body {
    font-family: "lucida sans", arial, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: .78em;
    background: #fff;
    color: #635B53;
}

p {
    margin: 0px;
    padding: 0px 0px 16px 0px;
    line-height: 1.7em;
}

h1, h2, h3, h4 {
    font-size: 150%;
    padding: 7px 0px 5px 0px;
    margin: 0px 0px 12px 0px;
    font-weight: normal;
    color: #468875;
    font-family: serif;
}

h1, h3 {
    margin: 10px 0px 20px 0px;
    padding: 5px 20px 5px 0px;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(70, 136, 117, 1), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(70, 136, 117, 1), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(70, 136, 117, 1), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(70, 136, 117, 1), rgba(0,0,0,0)); 
}

a, a:hover {
    border-bottom: 1px;
    color: #468875;
    text-decoration: none;
}

    a:hover {
        border-bottom: 1px solid;
        color: #635B53;
    }

img {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

a {
    outline: none;
}

form {
    padding: 0;
    margin: 0;
}

.left {
    float: left;
    margin-right: 10px;
}

.right {
    float: right;
    margin-left: 10px;
}

.center {
    display: block;
    text-align: center;
    margin: 0 auto;
}

blockquote {
    margin: 20px 0px 20px 0px;
    padding: 10px 20px 0px 20px;
    border: 1px solid #E5E5DB;
    background: #FFF;
}

ul {
    margin: 2px 0px 18px 16px;
    padding: 0px;
}

    ul li {
        list-style-type: square;
        margin: 0px 0px 6px 0px;
        padding: 0px;
    }

ol {
    margin: 8px 0px 0px 24px;
    padding: 0px;
}

    ol li {
        margin: 0px 0px 11px 0px;
        padding: 0px;
    }

#wrap, #logo, #menubar, #site_content, #footer {
    margin-left: auto;
    margin-right: auto;
}

#header {
    background: url(/Images/back.png) repeat-x;
}

#logo {
    width: 870px;
    height: 127px;
    position: relative;
    /*background: transparent url(/Images/logo.png) no-repeat right;*/
}

    #logo #logo_text {
        position: absolute;
        top: 0;
        left: 0;
    }

    #logo h1, #logo h2 {
        font: normal 300% 'century gothic', arial, sans-serif;
        border-bottom: 0;
        text-transform: none;
        margin: 0 0 0 9px;
    }

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
    padding: 22px 0 0 0;
    color: #777;
    letter-spacing: 0.1em;
    text-decoration: none;
}

    #logo_text h1 a .logo_colour {
        color: #468875;
    }

#logo_text a:hover .logo_colour {
    color: #777;
}

#logo_text h2 {
    font-size: 120%;
    padding: 4px 0 0 0;
    color: #BBB;
}

#logo h1, #logo h2 {
    margin: 0;
    font-family: "century gothic", arial, sans-serif;
}

#logo h1 {
    font-size: 300%;
    padding: 22px 0px 0px 0px;
    color: #777;
}

#logo h2 {
    font-size: 120%;
    padding: 4px 0px 0px 0px;
    color: #BBB;
}

#logo a {
    border: none;
}

#menubar {
    width: 870px;
    height: 46px;
    padding-left: 4px;
    padding-top: 5px;
}

ul#menu {
    float: left;
    margin: 0px;
}

    ul#menu li {
        float: left;
        margin: 5px 0 0 0;
        padding: 0 0 0 6px;
        list-style: none;
    }

        ul#menu li > a {
            letter-spacing: 0.1em;
            font-family: serif;
            font-size: 100%;
            display: block;
            float: left;
            height: 20px;
            text-decoration: none;
            padding: 7px 22px 4px 16px;
            margin: 2px 0 0 0;
            text-align: center;
            color: #FFF;
            text-transform: uppercase;
            border: none;
        }

            ul#menu li > a.arrow {
                background-image: url(/Images/nav-arrow.png);
                background-position: right;
                background-repeat: no-repeat;
            }

                ul#menu li > a.arrow:hover {
                    color: #fff;
                }

        ul#menu li.selected > a.arrow {
            background-image: url(/Images/nav-arrow.png);
            background-position: right;
            background-repeat: no-repeat;
        }

        ul#menu li.selected > a {
            height: 20px;
            padding: 7px 22px 4px 16px;
            margin: 2px 0 0 0;
            background: #468875 no-repeat 0 0px;
        }

        ul#menu li.hover > a {
            height: 20px;
            padding: 7px 22px 4px 16px;
            margin: 2px 0 0 0;
            background-color: #509d87;
        }

        ul#menu li.selected > a, ul#menu li.selected > a:hover {
            background: right #468875 no-repeat 100% 0px;
            color: #FFF;
        }

        ul#menu li > a:hover {
            background-color: #509d87;
            height: 19px;
        }

.nav-dropdown {
    min-height: 50px;
    position: absolute;
    background-color: #509d87;
    margin-top: 32px;
    width: 150px;
    left: -25px;
    display: none;
    border-left: 1px solid #3e806d;
    border-right: 1px solid #3e806d;
    border-bottom: 1px solid #3e806d;
    box-shadow: 3px 3px 5px #888888;
}

    .nav-dropdown > a {
        width: 100%;
        font-family: serif;
        font-size: 100%;
        display: block;
        float: left;
        height: 20px;
        text-decoration: none;
        text-align: center;
        color: #FFF;
        text-transform: uppercase;
        border: none;
        padding: 10px 0px 5px 0px;
        border-bottom: 1px solid #3e806d;
        background-repeat: no-repeat;
        background-position-y: center;
    }

        .nav-dropdown > a:hover {
            background-color: #67a794;
        }

#site_content {
    width: 875px;
    margin-top: 10px;
    overflow: hidden;
}

.sidebar {
    float: left;
    width: 178px;
    padding: 0px 20px 15px 15px;
    background-color: #fff;
}

    .sidebar ul {
        width: 178px;
        padding-top: 4px;
        margin: 4px 0px 30px 0px;
    }

    .sidebar li {
        list-style: none;
        padding: 0px 0px 2px 0px;
    }

        .sidebar li a, .sidebar li a:hover {
            padding: 4px 0px 4px 35px;
            display: block;
            background: transparent url(/Images/sidebar-link.png) no-repeat left center;
            border: none;
        }

            .sidebar li a.selected, .sidebar li a:hover, .sidebar li a.selected:hover {
                background-color: #f4f4f4;
            }

#content {
    text-align: left;
    width: 624px;
    float: left;
    padding: 0px 10px 15px 10px;
}

#footer {
    clear: both;
    width: 100%;
    font-family: sans-serif;
    min-height: 80px;
    margin-top: -123px;
    padding: 20px 0px 4px 0px;
    background: #313131;
    color: #A8AA94;
    border-top: 4px solid #468875;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

    #footer div {
        width: 860px;
        margin-left: auto;
        margin-right: auto;
    }

    #footer a {
        color: #A8AA94;
        text-de coration: none;
    }

        #footer a:hover {
            color: #FFF;
            text-decoration: none;
        }

.search {
    width: 122px;
    border: 1px solid #CCC6B4;
    padding: 4px;
    color: #635B53;
}

#wrap {
    min-height: 100%;
}

#main {
    padding-bottom: 123px;
}

.form_settings {
    margin: 15px 0 0 0;
}

    .form_settings p {
        padding: 0 0 4px 0;
    }

    .form_settings span {
        float: left;
        width: 200px;
        text-align: left;
    }

    .form_settings input, .form_settings textarea {
        padding: 5px;
        width: 299px;
        font: 100% arial;
        border: 1px solid #E5E5DB;
        background: #FFF;
        color: #47433F;
    }

    .form_settings .submit {
        font: 100% arial;
        border: 1px solid;
        width: 99px;
        margin: 0 0 0 212px;
        height: 33px;
        padding: 2px 0 3px 0;
        cursor: pointer;
        background: #3B3B3B;
        color: #FFF;
    }

    .form_settings textarea, .form_settings select {
        font: 100% arial;
        width: 299px;
    }

    .form_settings select {
        width: 310px;
    }

    .form_settings .checkbox {
        margin: 4px 0;
        padding: 0;
        width: 14px;
        border: 0;
        background: none;
    }

.separator {
    width: 100%;
    height: 0;
    border-top: 1px solid #D9D5CF;
    border-bottom: 1px solid #FFF;
    margin: 0 0 20px 0;
}

table {
    margin: 10px 0 30px 0;
}

    table tr th, table tr td {
        background: #3B3B3B;
        color: #FFF;
        padding: 7px 4px;
        text-align: left;
    }

    table tr td {
        background: #FFF;
        color: #47433F;
        border-top: 1px solid #FFF;
    }

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/*-----------
    Blogs   
  -----------*/
.blog {
    padding: 10px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
}

.blog-title {
    font-weight: bold;
    font-size: 1.2em;
    color: #468875;
    float: left;
}

.blog-date {
    margin-bottom: 10px;
    font-size: 0.8em;
}

.blog-body {
}

.blog-tag {
    margin-top: 10px;
    text-align: right;
}

    .blog-tag span {
        font-weight: bold;
    }

.blog-button {
    margin-top: 5px;
}

.clear {
    clear: both;
}

.right {
    float: right;
    float: right;
}

.left {
    float: left;
}

.button {
    color: #fff;
    border: 1px solid #ccc;
    margin: 0;
    padding: 4px;
    background-color: #468875;
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    text-decoration: none;
}

    .button:hover {
        background-color: #509d87;
        color: #fff;
    }

    .button:active {
        background-color: #3d7e6b;
    }

    .button:disabled {
        background-color: #8f8f8f;
    }

.form-label {
    vertical-align: top;
    text-align: left;
    font-weight: bold;
    width: 10%;
}

.form-table {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

    .form-table td {
        padding: 0px;
        margin: 0px;
    }

    .form-table input, textarea {
        width: 100%;
    }

.message-box {
    position: absolute;
    width: 300px;
    margin-top: 10px;
    left: 50%;
    margin-left: -150px;
    opacity: 0.9;
    z-index: 999;
}

.message {
    width: 300px;
    min-height: 30px;
    background-color: #e0e0e0;
    margin-top: 10px;
    padding: 5px 10px 10px 50px;
    box-shadow: 3px 3px 5px #000;
    color: #635B53;
    background-position: left;
    background-repeat: no-repeat;
    background-position: 1% 50%;
}

.msuccess {
    border: 3px solid #04bb00;
    background-image: url(/Images/success.png);
}

.merror {
    border: 3px solid #bb0000;
    background-image: url(/Images/error.png);
}

.minfo {
    border: 3px solid #1000e4;
    background-image: url(/Images/info.png);
}

.message-body {
}

.message-title {
    font-size: 1.2em;
    font-weight: bold;
}

.info {
    float: left;
    margin-top: 15px;
    cursor: pointer;
}

input.ng-invalid.ng-dirty {
    background-color: #fcf2f3;
    border: 1px solid #fc9fa4;
}

.required:after {
    content:"*";
    color:red;
}

textarea.ng-invalid.ng-dirty {
    background-color: #fcf2f3;
    border: 1px solid #fc9fa4;
}

.validate-summary li {
    color: red;
}

.validate-summary span {
    color: red;
    font-weight: bold;
}

.message-close {
    background: none;
    border: none;
    font-weight: bold;
    top: 0px;
    right: 0px;
    padding: 3px;
    cursor: pointer;
    position: relative;
}

/*Bootstrap*/
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #468875;
  border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #468875;
  border-width: 5px 5px 0;
}

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-top-color: #468875;
  border-width: 5px 5px 0;
}

.tooltip.top-right .tooltip-arrow {
  right: 5px;
  bottom: 0;
  border-top-color: #468875;
  border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #468875;
  border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #468875;
  border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #468875;
  border-width: 0 5px 5px;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-bottom-color: #468875;
  border-width: 0 5px 5px;
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-bottom-color: #468875;
  border-width: 0 5px 5px;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

.popover.top {
  margin-top: -10px;
}

.popover.right {
  margin-left: 10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover.left {
  margin-left: -10px;
}

.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.popover-content {
  padding: 9px 14px;
}

.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover .arrow {
  border-width: 11px;
}

.popover .arrow:after {
  border-width: 10px;
  content: "";
}

.popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}

.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
  content: " ";
}

.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}

.popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
  content: " ";
}

.popover.bottom .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}

.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
  content: " ";
}

.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}

.popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #ffffff;
  border-right-width: 0;
  content: " ";
}