<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.0" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.MVC3" version="3.2.1.0" targetFramework="net45" />
  <package id="Ninject.Web.Common" version="3.2.1.0" targetFramework="net45" />
  <package id="Ninject.Web.Common.WebHost" version="3.2.1.0" targetFramework="net45" />
  <package id="ServiceStack" version="4.0.20" targetFramework="net45" />
  <package id="ServiceStack.Api.Swagger" version="4.0.20" targetFramework="net45" />
  <package id="ServiceStack.Client" version="4.0.20" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.20" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.20" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.20" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.0" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.0.5" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="3.0.3.0" targetFramework="net45" />
</packages>