<div class="wrapper style3 first">
    <article id="portfolio">
        <div class="container">
            <div class="row">
                <div class="12u">
                    <h1>Add a Blog</h1>
                    <form name="form" class="css-form" novalidate>
                        <table class="form-table">
                            <tr>
                                <td class="form-label">
                                    <label for="uTitle" class="required">Title<required></required></label></td>
                                <td>
                                    <input type="text" data-ng-model="blog.title" required placeholder="Enter Title Here" name="uTitle" id="uTitle" />
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">
                                    <label for="uTags" class="required">Tags<required></required></label></td>
                                <td>
                                    <input type="text" data-ng-model="blog.tags" required placeholder="Enter Tags Here" name="uTags" id="uTags" />
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">
                                    <label for="uDescription" class="required">Description<required></required></label></td>
                                <td>
                                    <textarea data-ng-model="blog.description" required placeholder="Enter Description Here" style="height: 100px;" name="uDescription" id="uDescription"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">
                                    <label for="uBody" class="required">Body<required></required></label></td>
                                <td>
                                    <textarea data-ng-model="blog.body" required placeholder="Enter Body Here" style="height: 150px;" name="uBody" id="uBody"></textarea>
                                </td>
                            </tr>
                        </table>
                        <input type="button" data-ng-disabled="form.$invalid" style="margin-bottom: 10px;" data-ng-click="submitForm()" value="Add Blog" class="button right" />
                    </form>
                </div>
            </div>
        </div>
        <footer>
        </footer>
    </article>
</div>
