<!--    <div data-ng-show="!blogs.length">There are currently no blogs available.</div>
    <div data-ng-show="blogs.length">-->
<!-- Portfolio -->
<div class="wrapper style3 first">
    <article id="portfolio">
        <header>
            <h2>My Blogs</h2>
            <p>Just random thoughts or tangents I think that others in the development community may have already or will come across.</p>
        </header>
        <loading data-ng-show="!loaded"></loading>
        <div class="container" data-ng-show="loaded">
            <div class="row">
                <div class="4u" data-ng-repeat="blog in blogs">
                    <article class="box style2">
                        <h3><a href="#">{{blog.Title}}</a></h3>
                        <p style="font-style: italic; font-size: .8em; margin-bottom: 5px;">{{blog.Tags}}</p>
                        <p style="font-style: italic; font-size: .8em; margin-bottom: 5px;">{{blog.CreatedDate | date:'short'}}</p>
                        <p>{{blog.Description}}</p>
                        <a href="#work" class="button big">Read Blog</a>
                    </article>
                </div>
            </div>
        </div>
        <footer>
            <a class="button big alt" href="/blogs/add">Add New Blog</a>
        </footer>
    </article>
</div>
