<div>
    <div class="blog" style="display: none; margin-top: 20px;">
        <div>
            <div class="blog-title">
                <span id="blog-title">{{currentBlog.Title}}</span>
            </div>
            <div class="blog-tag">
                <span>Tags: </span><i id="blog-tags">{{currentBlog.Tags}}</i>
            </div>
            <div class="clear"></div>
        </div>
        <div class="blog-date">
            <span id="blog-date">{{currentBlog.CreatedDate | date:'short'}}</span>
        </div>
        <div class="blog-body">
            <span id="blog-body">{{currentBlog.Body}}</span>
        </div>
    </div>
</div>