<!-- Work -->
<div class="wrapper style1 first">
    <article class="container" id="top">
        <div class="row">
            <div class="4u">
                <span class="image fit">
                    <img src="images/squirt.png" alt="" /></span>
            </div>
            <div class="8u">
                <header>
                    <h1><strong>About Me</strong></h1>
                </header>
                <p>
                    I'm a software engineer out of Buffalo N.Y. I graduated from SUNY University at Buffalo in 2013 with a B.S. in Computer Science.
							I have worked at many great places throughout my career and have learned from them all. I also have a cat who is a jerk. I love him,
							but like all cats he thinks we should worship him.
                </p>
            </div>
        </div>
    </article>
</div>
<div class="wrapper style2">
    <div class="container">
        <div class="row">
            <div class="12u">
                <h1>Career Background</h1>
            </div>
        </div>
        <div class="row">
            <div class="12u">
                <article class="box style2">
                    <h3><a href="#">Liazon, corp.</a></h3>
                    <p style="font-style: italic; font-size: .8em; margin-bottom: 5px;">199 Scott Street, Buffalo N.Y.</p>
                    <p>
                        This is a description of the things I worked on at this job. It won't be very very specific technically, but
									moreso an informal introduction to what I did. People viewing this aren't going to be wanting to see a resume
									but rather a more light-hearted view of the cool things I did here. Help people with benefits? Wrote a portal?
									Worked at a web shop? Have Food Fridays? Free snacks? Good coworkers? Explain it here.
                    </p>
                    <hr />
                    <h3><a href="#">Liazon, corp.</a></h3>
                    <p style="font-style: italic; font-size: .8em; margin-bottom: 5px;">199 Scott Street, Buffalo N.Y.</p>
                    <p>
                        This is a description of the things I worked on at this job. It won't be very very specific technically, but
									moreso an informal introduction to what I did. People viewing this aren't going to be wanting to see a resume
									but rather a more light-hearted view of the cool things I did here. Help people with benefits? Wrote a portal?
									Worked at a web shop? Have Food Fridays? Free snacks? Good coworkers? Explain it here.
                    </p>
                    <hr />
                    <h3><a href="#">Liazon, corp.</a></h3>
                    <p style="font-style: italic; font-size: .8em; margin-bottom: 5px;">199 Scott Street, Buffalo N.Y.</p>
                    <p>
                        This is a description of the things I worked on at this job. It won't be very very specific technically, but
									moreso an informal introduction to what I did. People viewing this aren't going to be wanting to see a resume
									but rather a more light-hearted view of the cool things I did here. Help people with benefits? Wrote a portal?
									Worked at a web shop? Have Food Fridays? Free snacks? Good coworkers? Explain it here.
                    </p>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="12u">
                <h1>Something Else Good Here</h1>
            </div>
        </div>
        <div class="row">
            <div class="12u">
                <article class="box style2">
                    <h3><a href="#">A Header</a></h3>
                    <p>
                        Lorem shiz le dizzle new buertino.Lorem shiz le dizzle new buertino.Lorem shiz le dizzle new buertino.Lorem shiz le dizzle new buertino.
								Lorem shiz le dizzle new buertino. Lorem shiz le dizzle new buertino. Lorem shiz le dizzle new buertino. Lorem shiz le dizzle new buertino.
                    </p>
                </article>
            </div>
        </div>
    </div>
</div>
