<!-- Work -->
<div class="wrapper style1 first">
    <article class="container" id="top">
        <div class="row">
            <div class="4u">
                <span class="image fit">
                    <img src="images/squirt.png" alt="" /></span>
            </div>
            <div class="8u">
                <header>
                    <h1><strong>About Me</strong></h1>
                </header>
                <p>
                    I'm a software engineer out of Buffalo N.Y. I graduated from SUNY University at Buffalo in 2013 with a B.S. in Computer Science.
					As the internet demands, I pay my cat tax. He is a jerk, and thinks he rules the house. I still love him.
                </p>
            </div>
        </div>
    </article>
</div>
<div class="wrapper style2">
    <div class="container">
        <div class="row">
            <div class="12u">
                <h1>Career Background</h1>
            </div>
        </div>
        <div class="row">
            <div class="12u">
                <article class="box style2">
                    <h3><a href="#">Liazon, Corporation</a></h3>
                    <p style="font-style: italic; font-size: .8em; margin-bottom: 5px;">Buffalo NY</p>
                    <p>
                        Liazon, my current place of employment. This company was different than any other company I entered. It was growing fast. It has great 
                        potential, and is a local place. Along with relentless badgering from a friend who worked there, I was starting to grow fond of the 
                        idea of joining a company that had as much potential as this one. I made the move, which seemed like a pretty logical one, given I'd still 
                        be working with .NET MVC, SQL Server, and many of the same technologies. There were a lot of technologies I did not expect, but have been 
                        invaluable to learn. I have learned more design patterns and architecture here than I ever thought I could have in such a short time. Along 
                        with technologies, this is by far this biggest development team I have ever worked on. The amount of people to learn from here is a definite 
                        perk of the job. Most recently, I have been learning AngularJS, a pretty powerful JavaScript framework. I've always liked the push towards a 
                        better user experience, and am enjoying the next wave in that push.
                    </p>
                    <hr />
                    <h3><a href="#">Earthlink, Inc.</a></h3>
                    <p style="font-style: italic; font-size: .8em; margin-bottom: 5px;">Buffalo NY</p>
                    <p>
                        Earthlink was a company I worked at early on in college. Earthlink was starting up a new portal, and my old co-workers had expressed interest
                        in having me back on the team. After talking to everyone, it was a no brainer. I was going back to old friends, better compensated, 
                        working with later and greater technology. This was my start into MVC based technology as we were developing in .NET MVC 4.0. We also
                        introduced a responsive design, with heavy client based functionality. It was an amazing team to work with, with a great process. I 
                        learned a lot about process, design, architecture, and just plain good development from here. 
                    </p>
                    <hr />
                    <h3><a href="#">Algonquin Studios</a></h3>
                    <p style="font-style: italic; font-size: .8em; margin-bottom: 5px;">Buffalo NY</p>
                    <p>
                        This was a particularly interesting job. It was a .NET Web Shop that had a lot of local clients. They charged by the hour 
                        and had a particularly nice development atmosphere. They were a bit more on the strict side, but had a strong sense of 
                        standards. I had to develop mostly in Visual Basic here which was quite a bit saddening. I also learned a lot of time management, and 
                        working with a bigger development department. It was a particularly daunting job that I wouldn't want forever, but it was great for 
                        teaching young, hungry developers. I gained invaluable SQL skills and standards that I still use today from here.
                    </p>
                    <hr />
                    <h3><a href="#">Modern-Tec Manufacturing, Inc</a></h3>
                    <p style="font-style: italic; font-size: .8em; margin-bottom: 5px;">Buffalo NY</p>
                    <p>
                        This was a contract job that I got through The University at Buffalo. It was a machine shop with very limited software
                        support. Nothing of great importance was built here or done here, but it was a good introduction to being the only developer
                        on a project. It was more just a job to maintain developing with .NET C# and go to college at the same time.
                    </p>
                    <hr />
                    <h3><a href="#">One Communications, LLC</a></h3>
                    <p style="font-style: italic; font-size: .8em; margin-bottom: 5px;">Buffalo NY</p>
                    <p>
                        Entering the madness of web development was my job at One Communications. I landed this job back in my hometown of Buffalo, and with no prior web
                        experience this was going to be an eye opener. I started this the summer before my sophomore year of college. I was being
                        introduced to enterprise level development with ASP.NET 2.0 WebForms. For two years I learned from and with a really good
                        group of people, many also interns from my college. I was introduced to C#, my current favorite language, as well as Visual
                        Studio, SOAP Web Services, jQuery library, and many of the relevant .NET based technologies in 2008. At last it was only a 
                        contract job and I was still in school when the company was acquired by Earthlink. I worked temporarily for Earthlink before
                        my contract was eliminated and I was to move on.
                    </p>
                    <hr />
                    <h3><a href="#">Department of Labor and Industry</a></h3>
                    <p style="font-style: italic; font-size: .8em; margin-bottom: 5px;">Helena MT</p>
                    <p>
                        The Department of Labor was the first real job I had in the professional field. It was a DBA internship for the summer.
                        It turned out to be a really good job surrounded by good people. I learned a lot of entry level industry standards, and
                        started to learn how to conduct myself professionally. It only lasted a few months, but it was a valuable start. I was introduced
                        to Oracle Database, and was learning Java in school at the time. The two worked really well together, and helped me start 
                        to build a Java ORM based application on the side.
                    </p>
                </article>
            </div>
        </div>
<!--        <div class="row">
            <div class="12u">
                <h1>Something Else Good Here</h1>
            </div>
        </div>
        <div class="row">
            <div class="12u">
                <article class="box style2">
                    <h3><a href="#">A Header</a></h3>
                    <p>
                        Lorem shiz le dizzle new buertino.Lorem shiz le dizzle new buertino.Lorem shiz le dizzle new buertino.Lorem shiz le dizzle new buertino.
								Lorem shiz le dizzle new buertino. Lorem shiz le dizzle new buertino. Lorem shiz le dizzle new buertino. Lorem shiz le dizzle new buertino.
                    </p>
                </article>
            </div>
        </div>-->
    </div>
</div>
