<h1>Welcome to Tom Klonowski's Portfolio</h1>
<p>
    This website is currently in progress. It not only describes my skills, but it puts some of them to use.
    It was written in .NET MVC 4, using Razor syntax. 
    The technologies used in this website so far include, but are not limited to:
    <ul>
        <li><a href="http://www.ninject.org/">Ninject</a> for Dependency Injection and IoC</li>
        <li>
            <a href="https://servicestack.net/">ServiceStack</a> for a Service framework
            <ul>
                <li><a href="https://github.com/wordnik/swagger-ui">SwaggerUI</a> to test ServiceStack services</li>
            </ul>
        </li>
        <li><a href="http://logging.apache.org/log4net/">Log4Net</a> for logging purposes</li>
        <li><a href="https://angularjs.org/">AngularJS</a> for full MVC JS support</li>
        <li><a href="https://github.com/Moq/moq4">Moq</a> for automated mock Unit Testing</li>
        <li>
            <a href="http://msdn.microsoft.com/en-us/data/ef.aspx">EntityFramework</a> for data manipulation
            <ul>
                <li><a href="">CodeFirst</a> for database creation/maintenance</li>
            </ul>
        </li>
        
        <li><a href="http://jquery.com/">jQuery</a> for further JS support</li>
    </ul>
</p>