<h1>Test Page</h1>
<p>This is a test page for a random bunch of stuff.</p>

<h4>jQuery Messaging</h4>
<input type="button" class="button" value="Add Success Message" onclick="Util.addMessage('success', 'Save Successful!', 'You have saved something successfully! Congratulations! You Win!')" />
<input type="button" class="button" value="Add Error Message" onclick="Util.addMessage('error', 'Error!', 'You have encountered a grave error. Your system will shut down and proceed to die. ;[')" />
<input type="button" class="button" value="Add Info Message" onclick="Util.addMessage('info', 'Did you know?', 'This messaging system also includes information! That means if people need you can write some info about it.', 10000)" />

<hr />
<h3>Popovers</h3>
<input type="button" class="button" value="Top" data-popover-placement="top" data-popover-title="Popover Top" data-popover="Will show up on Top" />
<input type="button" class="button" value="Left" data-popover-placement="left" data-popover-title="Popover Left" data-popover="Will show up on Left" />
<input type="button" class="button" value="Bottom" data-popover-placement="bottom" data-popover-title="Popover Bottom" data-popover="Will show up on Bottom" />
<input type="button" class="button" value="Right" data-popover-placement="right" data-popover-title="Popover Right" data-popover="Will show up on Right" />

<hr />
<h3>Tooltips</h3>
<label data-tooltip="I... am... a.... toooooooltip!">Hover over Me!</label>