<h1>Test Page</h1>
<p>This is a test page for a random bunch of stuff.</p>

<input type="button" class="button" value="Add Success Message" onclick="Util.addMessage('success', 'Save Successful!', 'You have saved something successfully! Congratulations! You Win!')" />
<input type="button" class="button" value="Add Error Message" onclick="Util.addMessage('error', 'Error!', 'You have encountered a grave error. Your system will shut down and proceed to die. ;[')" />
<input type="button" class="button" value="Add Info Message" onclick="Util.addMessage('info', 'Did you know?', 'This messaging system also includes information! That means if people need you can write some info about it.')" />