<div id="footer">
    <div>
        <p>
            @Html.ActionLink("Home", "Index", "Home") | 
            @Html.ActionLink("About", "About", "Home") | 
            @Html.ActionLink("Contact Us", "Contact", "Home")
        </p>
        <p>&copy; 2014 Tom Klonowski - This website is strictly for personal use and those interested in learning more about me.</p>
    </div>
</div>
