@using TomKlonowski.Website.Helpers;

<div id="menubar">
    <ul id="menu">
        @Html.MenuLink("Home", "Index", "Home")
        @Html.MenuLink("About", "About", "Home")
        @Html.MenuLink("Contact", "Contact", "Home")
    </ul>
</div>
