<nav id="nav" data-ng-controller="NavigationController">
    <ul class="container">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/test">Test Page</a></li>
        <li><a href="/404asjnkcjk">404 Me</a></li>
    </ul>
</nav>
