@using TomKlonowski.Website.Helpers;

<div id="menubar">
    <ul id="menu">
        <li class="selected">
            <a href="/" onclick="Navigation.setActive(this);">Home</a>
        </li>
        <li>
            <a href="/about" onclick="Navigation.setActive(this);">About</a>
        </li>
        <li>
            <a href="/blogs" onclick="Navigation.setActive(this);">Blogs</a>
        </li>
    </ul>
</div>
