<div class="sidebar">
    <!-- insert your sidebar items here -->
    <h3>Latest Blogs</h3>
    <h5>May 21st, 2014</h5>
    <p>
        This is just a current placeholder for a blog post. You will be able to access this throughout
        most of the site.<br />
        <a href="#">Read more</a>
    </p>
    <h5>May 22nd, 2014</h5>
    <p>
        This is another placeholder for a blog post. You will be able to access this throughout
        most of the site.<br />
        <a href="#">Read more</a>
    </p>
    <h3>External Links</h3>
    <ul>
        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["ServiceStackUrl"]" target="_blank">My API</a></li>
        <li><a href="https://github.com/tklonowski/" target="_blank">My GitHub</a></li>
        <li><a href="https://github.com/tklonowski/portfolio" target="_blank">This Site's GitHub</a></li>
        <li><a href="#">link 4</a></li>
    </ul>
</div>
